# Python
__pycache__/
*.pyc
**/.env
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
.cursor/


#AI test
test_photos/
dlib_test_outputs/
yolo_test_outputs/

yolov8n.pt